Repository ryosuke-horie/kime.jp: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, biome-lint

biome-check:
  run: 'echo "📝 コミット前の検証を実行中..."
  
    echo "🔍 Biomeによるコードチェックを実行中..."
  
    pnpm biome check --write {staged_files}
  
    '

biome-lint:
  run: 'echo "🔍 Biomeによるリントを実行中..."
  
    pnpm biome lint --apply {staged_files}
  
    '

fix: api-clientのtsconfig.jsonの余分な閉じ括弧を削除
  packages/api-client/tsconfig.json
Due: biome-check

fix: pre-commitフックのglobパターンを修正
  lefthook.yml
Due: biome-check

fix: pre-pushフックでエラーがあっても全てのチェックを実行できるように修正
  lefthook.yml
Due: biome-check

fix: 型定義ファイルでのany型使用を制限し、unknownまたは具体的な型に置き換え
  apps/web/src/types/declareModules.d.ts
  apps/web/src/types/next-metadata.d.ts
  apps/workers/src/types/cloudflare.d.ts
  apps/workers/src/types/hono.d.ts
  apps/workers/src/types/vite.d.ts
  apps/workers/src/types/vitest.d.ts
Due: biome-check, biome-lint

fix: Biomeリント警告を修正
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  apps/web/next.config.ts
  apps/web/open-next.config.ts
  apps/web/src/app/layout.tsx
  apps/web/tsconfig.json
  apps/workers/dummy.ts
  apps/workers/src/types/node.d.ts
  apps/workers/src/types/vitest.d.ts
  apps/workers/tsconfig.json
  packages/api-types/tsconfig.tsbuildinfo
Due: biome-check, biome-lint

fix: OpenAPI/Zod統合の最適化とディレクトリ構造の整理
  apps/workers/package.json
  apps/workers/src/schemas/models-backup/common.ts
  apps/workers/src/schemas/models-backup/gym.ts
  apps/workers/src/schemas/models-backup/health.ts
  apps/workers/src/schemas/openapi-backup/config.ts
  apps/workers/src/schemas/openapi-backup/document.ts
  apps/workers/src/types/hono.d.ts
  packages/api-client/package.json
  packages/api-client/src/client.ts
  packages/api-client/src/hooks.ts
  packages/api-client/tsconfig.tsbuildinfo
  packages/api-types/package.json
  packages/api-types/src/common.ts
  packages/api-types/src/gym.ts
  packages/api-types/src/health.ts
  packages/api-types/src/index.ts
  packages/api-types/src/openapi/config.ts
  packages/api-types/src/openapi/document.ts
  packages/api-types/src/types/zod-to-openapi.d.ts
  packages/api-types/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: biome-check, biome-lint

chore: gitignoreに従いtsconfig.tsbuildinfo関連ファイルをgit管理から除外
  packages/api-client/tsconfig.tsbuildinfo
  packages/api-types/src/types/zod-to-openapi.d.ts
  packages/api-types/tsconfig.tsbuildinfo
Due: biome-check, biome-lint

fix(ci): test.ymlのupload-coverageジョブを削除
  .github/workflows/test.yaml
Due: biome-check

feat: ワークフローファイル自体が更新された時にCIが実行されるよう、明示的なパスフィルターを追加 #118
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/typecheck.yaml
Due: biome-check

refactor: ワークフローのパスフィルターを最適化し実行時間を節約 #118
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/typecheck.yaml
Due: biome-check

fix: OpenAPI+Zod関連パッケージの自動更新設定を強化
  .github/dependabot.yml
Due: biome-check

fix: CIで同じPRに対する重複実行を防止するconcurrency設定を追加 #117
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .github/workflows/typecheck.yaml
Due: biome-check

fix: Vitestのwatchignore型定義問題を@ts-expect-errorで対応 #91
  apps/workers/vitest.config.ts
Due: biome-check, biome-lint

feat: Next.jsにShadcn/UIを導入し基本コンポーネントを実装 (#93)
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/theme-provider.tsx
  apps/web/src/components/ui/theme-toggle.tsx
  apps/web/src/lib/utils.ts
  apps/web/tailwind.config.ts
Due: biome-check, biome-lint

style: UIコンポーネントのフォーマットを修正
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/theme-provider.tsx
  apps/web/src/components/ui/theme-toggle.tsx
Due: biome-check, biome-lint

fix: Tailwind CSS v4の依存関係と設定を修正
  apps/web/postcss.config.mjs
  apps/web/src/app/globals.css
Due: none

style: PostCSSの設定でシングルクォートをダブルクォートに変更
  apps/web/postcss.config.mjs
Due: none

fix: shadcnを対象外に
  biome.json
Due: biome-check

feat: lefthookでビルド検証を追加
  lefthook.yml
Due: biome-check

feat: ダークテーマ対応を拒否する実装
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
Due: biome-check, biome-lint

refactor: ダークテーマ関連コードを完全に削除
  apps/web/src/app/globals.css
Due: none

chore: Packagesディレクトリ下のBiome設定と対応するCI設定を追加
  .github/workflows/lint.yaml
  packages/api-client/package.json
  packages/api-client/src/index.ts
  packages/api-client/tsconfig.json
  packages/api-client/tsup.config.ts
  packages/api-types/package.json
  packages/api-types/tsconfig.json
  packages/api-types/tsup.config.ts
Due: biome-check, biome-lint

fix: deprecation警告を修正してlefthookコマンドを最新の推奨に更新
  lefthook.yml
Due: biome-check

feat: ディレクトリ固有のCIワークフローを追加
  .github/workflows/common.yaml
  .github/workflows/packages.yaml
  .github/workflows/web.yaml
  .github/workflows/workers.yaml
Due: biome-check

chore: 既存のCIワークフローをdeprecatedとしてリネーム
  .github/workflows/lint.deprecated.yaml
  .github/workflows/test.deprecated.yaml
  .github/workflows/typecheck.deprecated.yaml
Due: biome-check

fix: CI/CDワークフロー修正とバリデーションエラー解決
  .github/workflows/lint.deprecated.yaml
  .github/workflows/test.deprecated.yaml
  .github/workflows/typecheck.deprecated.yaml
  apps/web/package.json
  apps/web/src/components/ui/calendar.tsx
  apps/workers/src/features/gyms/routes/index.test.ts
  packages/api-types/package.json
  packages/api-types/src/common.ts
  packages/api-types/src/gym.ts
  packages/api-types/src/health.ts
  packages/api-types/src/openapi/document.ts
  pnpm-lock.yaml
Due: biome-check, biome-lint

fix: api-typesパッケージのインポートと重複初期化問題を解決
  packages/api-types/src/index.ts
Due: biome-check, biome-lint

fix: api-typesパッケージのexportsフィールドを追加
  packages/api-types/package.json
Due: biome-check

fix: workersアプリのスキーマ参照方法を修正
  apps/workers/src/schemas/index.ts
Due: biome-check, biome-lint

chore: 不要なdeprecated CIワークフローファイルを削除
  .github/workflows/lint.deprecated.yaml
  .github/workflows/test.deprecated.yaml
  .github/workflows/typecheck.deprecated.yaml
Due: biome-check

chore: テストカバレッジ生成とアップロードのステップを削除
  .github/workflows/web.yaml
  .github/workflows/workers.yaml
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  lefthook.yml
Due: biome-check

chore: プッシュ前のフックからエラーメッセージを削除
  lefthook.yml
Due: biome-check

refactor: webアプリのapi-typesをtypesにリネーム（一貫性のため）
  apps/web/src/api/client.ts
  apps/web/src/api/hooks.ts
  apps/web/src/types/cloudflare.d.ts
  apps/web/src/types/common.ts
  apps/web/src/types/gym.ts
  apps/web/src/types/health.ts
  apps/web/src/types/hono.d.ts
  apps/web/src/types/index.ts
  apps/web/src/types/node.d.ts
  apps/web/src/types/openapi/config.ts
  apps/web/src/types/openapi/document.ts
  apps/web/src/types/types/zod-to-openapi.d.ts
  apps/web/src/types/vite.d.ts
  apps/web/src/types/vitest.d.ts
  apps/web/tsconfig.json
Due: biome-check, biome-lint

ci: packages.yamlを削除し、CI設定をアップデート
  .github/workflows/packages.yaml
  .github/workflows/web.yaml
  .github/workflows/workers.yaml
Due: biome-check

fix: API型定義ファイルに@ts-nocheckを追加して型チェックエラーを修正
  apps/web/src/api-types/cloudflare.d.ts
  apps/web/src/api-types/common.ts
  apps/web/src/api-types/gym.ts
  apps/web/src/api-types/health.ts
  apps/web/src/api-types/hono.d.ts
  apps/web/src/api-types/index.ts
  apps/web/src/api-types/node.d.ts
  apps/web/src/api-types/openapi/config.ts
  apps/web/src/api-types/openapi/document.ts
  apps/web/src/api-types/types/zod-to-openapi.d.ts
  apps/web/src/api-types/vite.d.ts
  apps/web/src/api-types/vitest.d.ts
  apps/web/src/types/gym.ts
  apps/web/src/types/health.ts
  apps/web/src/types/openapi/config.ts
  apps/web/src/types/openapi/document.ts
Due: biome-check, biome-lint

chore: packages ディレクトリを完全に削除
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  apps/workers/src/lib/db-client.ts
  apps/workers/src/utils/testing/index.ts
Due: biome-check, biome-lint

chore: pnpm-workspace.yaml からpackages/*参照を削除
  pnpm-workspace.yaml
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,yaml,yml,md}
  biome-lint: any of: *.{js,jsx,ts,tsx}
